.line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.char {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.5rem;
    height: 50px;
    width: 50px;
}

.good {
    background-color: red;
}

.bad {
    background-color: orange;
}

.wrong {
    background-color: grey;
}