global
      log 127.0.0.1 local5 debug

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend myfrontend
  bind :80
  acl is_motus path -i -m beg /motus/
  use backend webservers if is_motus
  default_backend front-react

backend front-react
  server react react:80

backend webservers
  server s1 back1:3000 check
  server s2 back2:3000 check
