<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap"
  rel="stylesheet"
/>
<form>
  <div *ngIf="!this.LoadingPage">
    <div class="line" *ngFor="let line of this.records">
      <div class="char" *ngFor="let char of line">
        <div
          class="letter"
          [ngClass]="{
            wrong: char.code === 0,
            bad: char.code === 1,
            good: char.code === 2
          }"
        >
          {{ char.letter.toUpperCase() }}
        </div>
      </div>
    </div>

    <div *ngIf="records.length <= 5 && !isValid">
      <div class="line" *ngFor="let line of indices">
        <div class="char" *ngFor="let char of line">
          <div
            class="letter"
            [ngClass]="{
              wrong: char.code === 0,
              bad: char.code === 1,
              good: char.code === 2
            }"
          >
            {{ char.letter.toUpperCase() }}
          </div>
        </div>
      </div>
    </div>

    <div class="input-group" *ngIf="this.records.length <= 5 && !isValid">
      <input
        value=""
        type="text"
        id="name"
        required="required"
        placeholder="Ihr Name"
        [formControl]="formControl"
        #btnFocus
        [autofocus]="btnFocus.focus()"
      />
      <label>Devine le mot du jour</label>
    </div>
    <button
      class="btn second"
      *ngIf="!this.loading && this.records.length <= 5 && !isValid"
      (click)="guess()"
    >
      Send
    </button>

    <p class="nTry" *ngIf="!isValid">{{ 6 - this.records.length }} Tries Left !</p>
    <p *ngIf="isValid">Félicitations, Vous avez trouvé le mot en {{this.records.length}} essais ! Revenez Demain pour un nouveau mot ;)</p>
  </div>
</form>
